%h1 Comment
%div.comments-index.comment-on-comment
  = render "partials/comments/comment_index", :comment => Comment.find(params[:format])
%div.form-container.my-forms
  = render "partials/comments/comment_form"
