%div.comments-index
  %div.comments-index-single
    = render "partials/comments/comment_show", :comment => comment
    - if comment.comments.length > 0
      - comment.comments.each do |comment|
        = render "partials/comments/comment_index", :comment => comment
