/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "subgreens";
@import "posts";
@import "comments";
@import "users";
@import "sessions";

html {
  background-color: rgba(25, 25, 25, 0.05)
}
body {
  padding-top: 65px;
  font-family: 'Capriola', sans-serif;
  font-size: 14px;
  background-color: transparent;
}
.greenit-logo {
  font-family: 'IM Fell English SC', serif;
  font-size: 40px;
}
.modal-windows {
  display: none;
  position: fixed;
  // padding: 4px;
  top: 15%;
  right: 33%;
  width: 33%;
  height: auto;
  border: 4px solid rgba(0, 150, 0, 1);
  background-color: white;
  border-radius: 12px;
}.modal-background-color {
  background-color: rgba(0, 150, 0, 0.1)
}
li {
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
}
a, li {
  color: rgba(0, 150, 0, 1) !important;
}
a:hover, li:hover {
  color: rgba(0, 75, 0, 1) !important;
}
footer {
  clear: both;
  bottom: 5%;
}
.law-stuff {
  font-size: 12px;
}
.greenit-logo-law {
  font-family: 'IM Fell English SC', serif;
}
.my-forms {
  margin: 10px auto;
  max-width: 33%;
}
.success, .error {
  display: inline-block;
  margin: 0 auto;
}
.success {
  color: green;
}
.error {
  background-color: rgba(100, 0, 0, 0.2);
  color: red;
  padding: 4px 10px;
  border-radius: 6px;
}
