/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "subgreens";
@import "posts";
@import "comments";
@import "users";

html {
  background-color: rgba(25, 25, 25, 0.05)
}
body {
  padding-top: 65px;
  font-family: 'Capriola', sans-serif;
  font-size: 14px;
  background-color: transparent;
}
a, li {
  color: rgba(0, 150, 0, 1) !important;
}
a:hover, li:hover {
  color: rgba(0, 75, 0, 1) !important;
}
.my-forms {
  margin: 10px auto;
  max-width: 33%;
}
.success, .error {
  display: inline-block;
  margin: 0 auto;
}
.success {
  color: green;
}
.error {
  background-color: rgba(100, 0, 0, 0.2);
  color: red;
}
