// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-edit, .user-delete, .user-edit-account, .user-log-out {
  margin: 10px auto;
}

#register-user-modal {
  display: none;
  margin: 0 auto;
}
